.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f0c929;
  font-size: 25px;
  padding-top: 8px;
  background-color: #222725;
  text-align: center;
  height: 55px;
}
